services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # API (S3)
      - "9001:9001" # Consola web
    volumes:
      - ./data:/data
    # networks:
    #   - dokploy_network
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
        sleep 5;
        mc alias set myminio http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
        mc mb -p myminio/${MINIO_BUCKET};
        mc policy set public myminio/${MINIO_BUCKET};
        exit 0;
      "
    # networks:
    #   - dokploy_network
volumes:
  minio_data:
# networks:
#   dokploy_network:
#     external: false
