services:
  orders-db:
    container_name: order_db
    image: postgres:16.2
    ports:
      - 5432:5432
    restart: always
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=orders_ms_db
volumes:
  postgres:
